.BestWorkers {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 5px;
  justify-content: start;
  align-items: center;
}
.workerCard {
  display: flex;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 5px rgb(156, 160, 183);
  border-radius: 0.5vw;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}
.workerCard .workerInfo {
  display: flex;
  height: auto;
  width: 45%;

  align-items: center;
  font-weight: 600;
}
.workerCard .workerInfo p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.workerInfo img {
  width: auto;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.workerStats {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

.performance {
  border-radius: 1vw;
  padding: 5px;
  background-color: rgb(139, 139, 255);
  color: black;
  text-align: center;

  font-size: 14px;

  display: flex;
  align-items: center;
}
.amountOfOrders {
  border-radius: 1vw;
  padding: 5px;
  background-color: rgb(26, 255, 0);
  color: rgb(0, 111, 32);
  text-align: center;

  font-size: 14px;
}

@media (max-width: 768px) {
}
