.AddWorker {
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formCard {
  background: white;
  padding: 32px;

  width: 95%;
  height: 98%;
  border-radius: 16px;

  overflow: auto;
}

.formCard h1 {
  margin: 0;
  font-size: 26px;
  text-align: left;
  width: 100%;
  color: rgb(0, 119, 255);
  font-weight: 600;
}

.subtitle {
  width: 100%;
  font-weight: 600;
  text-align: left;
  color: #777;
  margin: 8px 0 24px;
}

.workerForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputGroup label {
  font-size: 14px;
color: rgb(0, 119, 255);
  font-weight: 600;
}
.inputGroup div {
  justify-content: space-between;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(155, 201, 255);
    border-radius: 0.5vw;
}
.inputGroup div img {
  width: auto;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(200, 200, 234);
}
.inputGroup div input {
  width: 90%;
  padding: 12px 14px;
outline: none;
border: none;
  font-size: 15px;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
    color: rgb(0, 119, 255);
}
.inputGroup input::placeholder {
  font-weight: 600;
}

.roleChoice {
  display: flex;
  gap: 10px;
  height: 120px;
  width: 100%;
  justify-content: space-between;
}
.roleChoice .choiceContainer {
  border: 1px solid rgb(155, 201, 255);
  cursor: pointer;
  width: 50%;
  padding: 5px;
  background-color: white;
  border-radius: 1vw;
  align-items: center;
  justify-content: left;
  gap: 5px;
  display: flex;
  height: 100%;
}
.roleChoice .choiceContainer input {
  display: none;
}
.customRadio {
  width: 20px;
  height: 20px;
  background: rgb(203, 203, 203);
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.customRadio::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.roleChoice .choiceContainer input:checked + .customRadio {
  background-color: blue;
}
.roleChoice .choiceContainer input:checked + .customRadio::after {
  background-color: white;
}
.roleChoice .choiceContainer .iconContainer  {
  height: 60px;
  width: 60px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(200, 200, 234);
}
.roleChoice .choiceContainer .iconContainer  img {
  width: 100%;
  height: auto;
}
.roleChoice .choiceContainer div {
  display: flex;
  flex-direction: column;
}
.formBtns {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 30px;
}
.formBtns .formBackBtn {
  padding: 14px;
  border-radius: 0.5vw;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: #fefeff;
  color: black;
  transition:
    transform 0.15s,
    box-shadow 0.15s;
}
.submitBtn {
  padding: 14px;
  border-radius: 0.5vw;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: #4f46e5;
  color: white;
  transition:
    transform 0.15s,
    box-shadow 0.15s;
}

.submitBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.3);
}
.formBackBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.3);
}
@media (max-width: 786px) {
  .roleChoice .choiceContainer img {
    width: 40px;
    height: 40px;
    padding: 3px;
  }
  .roleChoice .choiceContainer {
    gap: 3px;
    padding: 15px;
    width: auto;
    align-items: center;
    flex-direction: column;

    justify-content: center;
  }
  .roleChoice .choiceContainer h3 {
    font-size: 14px;
  }
  .roleChoice .choiceContainer p {
    font-size: 12px;
  }
  .inputGroup input {
    border-radius: 2vw;
  }
}
