body {
  background-color: #f1f3fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: calc(80px + env(safe-area-inset-bottom));

  height: auto;
  min-height: 100dvh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 786px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
