.donutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.readyDonut {
  position: relative;
  margin-right: 30px;
  width: 10px;
  height: 50px;
  border-radius: 10vw;
  background-color: #0088fe;
}

.infoContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
.infoContainer div {
  align-items: center;
  justify-content: center;
  display: flex;
}
.infoContainer div p {
  text-align: left;
  color: #5d82e6;
  background-color: #dfe6fc;
  padding: 5px;
  border-radius: 1vw;
  font-weight: 600;
}
@media (max-width: 768px) {
  .donutContainer {
    height: auto;
    overflow: visible;
  }
}
