.LogInPageContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
  border-radius: 5vw;

  padding: 10px;
  background-color: white;

  min-width: 400px;
  max-width: 700px;
  min-height: 500px;
  height: 60vh;
  width: 40vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.LogInPageContainer h1 {
  font-size: clamp(1rem, 3vw, 2.5rem);
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}
.LogInPageContainer p {
  position: relative;

  font-size: clamp(0.8rem, 2vw, 1.5rem);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.LogInPageContainer input {
  width: 60%;

  padding: 10px;
  margin: 5px;
  outline: none;
  border: black 2px solid;
  transition: 0.3s ease-in-out all;
  border-radius: 5vw;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
.LogInPageContainer input:focus {
  border: 2px solid rgb(210, 0, 252);
}
.LogInPageContainer input:hover {
  border: 2px solid rgb(50, 50, 200);
}
.LogInPageContainer button {
  width: 30%;
  padding: 10px;
  margin: 5px;

  transition: all 0.3s ease-in-out;

  background-color: rgb(100, 100, 255);
  border: none;
  border-radius: 5vw;

  color: white;
  font-size: clamp(1rem, 3vw, 2.5rem);

  cursor: pointer;
}
.LogInPageContainer button:hover {
  background-color: rgb(50, 50, 200);
}
.LogInPageContainer .ForgottenDataText {
  position: relative;
  left: 25%;
  font-size: 1rem;
  display: flex;
  text-align: right;
  font-weight: 600;
}
.passwordInputContainer {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 65%;
  padding: 10px;
  height: auto;
}
.passwordInputContainer button {
  width: auto;
  padding: 10px;
  margin: 5px;
  height: auto;
  transition: all 0.3s ease-in-out;

  background-color: black;
  border: none;
  border-radius: 5vw;

  color: white;
  font-size: clamp(1rem, 3vw, 2rem);

  cursor: pointer;
}
