.LogInPageContainer {
  border-radius: 5vw;

  padding: 10px;
  background-color: white;

  min-width: 400px;
  max-width: 550px;
  min-height: 500px;
  height: 60dvh;
  width: 40vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.LogInPageContainer h1 {
  margin: 0;
  color: rgb(0, 119, 255);
  font-family: Arial, Helvetica, sans-serif;
}
.LogInPageContainer p {
  position: relative;
  color: rgb(117, 117, 117);
  font-weight: 700;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.LogInPageContainer .inputLine {
  align-items: center;
  width: 80%;
  height: 10%;
  display: flex;
  gap: 5px;
  border: 1px solid rgb(155, 201, 255);
  border-radius: 0.5vw;
  padding-right: 10px;
  padding-left: 10px;
}
.seeBtn {
  transition: all 0.2s ease;
}
.seeBtn:hover {
  background-color: rgb(217, 216, 216);
  padding: 3px;
  border-radius: 50%;
}
.LogInPageContainer .inputLine img {
  height: 30px;
  width: auto;
}
.LogInPageContainer .inputLine input {
  outline: none;
  border: none;
  width: 80%;
  font-weight: 700;
  font-size: 16px;
  color: rgb(0, 119, 255);
}
.LogInPageContainer .inputLine input::placeholder {
  color: rgb(136, 191, 255);
  font-weight: 600;
}
.LogInPageContainer .inputLine button {
  cursor: pointer;
}

.LogInPageContainer button {
  width: 50%;
  padding: 10px;
  margin: 5px;

  transition: all 0.3s ease-in-out;

  background-color: rgb(0, 119, 255);
  border: none;
  border-radius: 0.5vw;

  color: white;
  font-size: clamp(1rem, 2vw, 1.5rem);

  cursor: pointer;
}
.LogInPageContainer button:hover {
  background-color: rgb(50, 50, 200);
}
.LogInPageContainer .ForgottenDataText {
  width: 100%;
  display: flex;
  justify-content: right;
  text-align: left;
  font-size: 1rem;
  display: flex;
  padding-right: 50px;
  font-weight: 600;

  color: rgb(0, 119, 255);
}
.LogInPageContainer .warningText {
  color: rgb(250, 71, 71);
  text-align: center;
}
