.calendar-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  flex-direction: column;
}

.calendar-wrapper .react-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: #1e1e2f;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 15px;
  font-family: sans-serif;
}
.calendar-wrapper .react-calendar__navigation {
  display: flex;
  gap: 10px;
}
.calendar-wrapper .react-calendar__navigation button {
  color: white;
  background: black;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}
.calendar-wrapper .react-calendar__navigation button:hover {
  background-color: black !important;
  color: rgb(235, 233, 233) !important;
}
.calendar-wrapper .react-calendar__month-view__weekdays {
  color: #aaa;
  font-size: 12px;
}

.calendar-wrapper .react-calendar__tile {
  border-radius: 10px;
  padding: 10px 0;
  position: relative;
}

.calendar-wrapper .react-calendar__tile:hover {
  background: #2a2a40;
}

.calendar-wrapper .react-calendar__tile--now {
  background: #3a3a60;
}

.calendar-wrapper .react-calendar__tile--active {
  background: #ff4d4f;
  color: white;
}

.calendar-wrapper .react-calendar__tile.has-order {
  background: rgba(255, 77, 79, 0.2);
}
.calendar-wrapper .react-calendar {
  background: #1e1e2f;
  color: white;
}

.calendar-wrapper .react-calendar__tile {
  background: transparent;
  color: white;
  border-radius: 10px;
}

.calendar-wrapper .react-calendar__tile:hover {
  background: #2a2a40 !important;
}

.calendar-wrapper .react-calendar__tile--now {
  background: #3a3a60 !important;
}

.calendar-wrapper .react-calendar__tile--active {
  background: #ff4d4f !important;
}

.dot {
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}
