.ordersPage {
  width: 100%;
  height: 90%;
  overflow: hidden;
  padding: 15px;
}
.extBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: auto;
  border-radius: 50%;
  padding: 1px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.ordersPage .extBtn:hover {
  background-color: rgb(242, 242, 242);
  padding: 5px;
}
.ordersContainer {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 15px;
}

.ordersContent {
  width: 100%;
  height: 100%;
  display: flex;

  gap: 10px;
}
.ordersContent .ordersInfoCont {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 5px;
  transition: all 0.5s ease;
}
.ordersList {
  padding: 5px;
  width: 100%;
  height: 50%;
  background-color: rgb(237, 237, 237);
  border-radius: 2vw;
  transition: all 0.2s ease;
}

.ordersList ul {
  padding: 0;
  width: 100%;
  position: relative;
  top: 5%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;

  gap: 5px;
}
.ordersList ul li {
  padding:15px;
  text-transform: capitalize;
  color: rgb(123, 123, 123);
  font-weight: 700;
  cursor: pointer;
  width: 98%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 1vw;
  transition: all 0.2s ease;
}
.ordersList ul li:hover {
  background-color: rgb(233, 254, 255);
}
.ordersList ul li button {
  border: none;
  padding: 7px;
  border-radius: 1vw;
  transition: all 0.2s ease;
  color: white;
  margin-right: 15px;
  background-color: rgb(100, 100, 255);
}
.ordersList ul li button:hover {
  transform: translate(-3%, 0%);
  background-color: rgb(32, 32, 255);
}
.ordersList ul li p {
  margin-left: 15px;
}
.orderInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;

  padding-right:15px ;
  gap: 5px;
}
@media (max-width: 768px) {
  .ordersContent {
    flex-direction: column;
  }
  .ordersContent .ordersInfoCont {
    height: 50%;
    width: 100%;
  }
  .ordersContent .ordersInfoCont > :first-child {
    display: none;
  }

  .ordersList {
    height: 98%;
  }

  .ordersList ul li {
    height: 50%;
    overflow: hidden;
  }
  .ordersList ul li button {
    height: 100%;
  }
  .ordersPage .extBtn {
    width: 30px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
