.ordersPage {
  width: 95%;
  height: 95%;
  padding: 20px;

  background-color: rgb(221, 221, 221);
  border-radius: 5vw;
}
.ordersList {
  width: 40%;
  height: 90%;
  background-color: white;
  border-radius: 5vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ordersList button {
  position: relative;
  right: 20%;
  width: 40%;
  height: 8%;
  border-radius: 2vw;
  border: none;
  background-color: rgb(100, 149, 237);
  color: white;
  font-size: 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.ordersList button:hover {
  background-color: rgb(65, 105, 225);
}
.ordersList ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  width: 90%;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;

  list-style-type: none;
}
.ordersList ul li {
  border-radius: 2vw;
  box-shadow: 5px 5px 10px rgb(156, 160, 183);
  padding: 15px;
  width: 90%;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.ordersList ul li:hover {
  background-color: rgb(219, 217, 217);
}
.ordersDescription {
  width: 50%;
  height: 90%;
  background-color: white;
  border-radius: 5vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backBtn {
  position: relative;
  left: 38%;
  padding: 10px;
  width: auto;
  height: auto;
  border-radius: 2vw;
  border: none;
  background-color: rgb(100, 149, 237);
  color: white;
  font-size: 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.backBtn:hover {
  background-color: rgb(65, 105, 225);
}
.addOrderForm {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
  opacity: 0;
  animation: apereance 0.5s forwards;
  transition: all 0.3s ease-in-out;
}
@keyframes apereance {
  to {
    opacity: 1;
  }
}
.addOrderForm input {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 10%;
  border-radius: 2vw;
  border: 1px solid gray;
  padding-left: 20px;
  font-size: 1.2vw;
}
.addOrderForm input::placeholder {
  font-size: 1;
}
.addOrderForm textarea {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  width: 80%;
  height: 30%;
  border-radius: 2vw;
  border: 1px solid gray;
  text-align: center;
  font-size: 1.2vw;
  resize: none;
  overflow-y: auto;
}
.AddWorkersToOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: auto;
  border: 1px solid gray;
  border-radius: 2vw;
  padding: 20px 10px 10px 10px;
  overflow-y: auto;
}
.AddWorkersToOrder input {
  margin-bottom: 10px;
  width: 90%;
  height: auto;
  border-radius: 2vw;
  border: 1px solid gray;
  padding: 10px;
  font-size: 1.2vw;
}
.AddWorkersToOrder div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;

  border-radius: 2vw;
  box-shadow: 1px 1px 5px rgb(156, 160, 183);
  gap: 5px;
}
.AddWorkersToOrder div ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;

  gap: 10px;
  padding: 5px;
}
.AddWorkersToOrder div ul li {
  height: auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 90%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 2vw;
  cursor: pointer;
}
.AddWorkersToOrder div ul li button {
  padding: 5px;
  width: 80px;
  border: none;
  border-radius: 1vw;
  background-color: rgb(100, 100, 255);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.AddWorkersToOrder div ul li button:hover {
  background-color: rgb(50, 50, 200);
}
.SaveOrder {
  width: auto;
  height: auto;
  padding: 5px 20px;
  border-radius: 2vw;
  border: none;
  background-color: rgb(100, 100, 255);
  color: white;
  font-size: 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.SaveOrder:hover {
  background-color: rgb(50, 50, 200);
}
.WorkerOrdersPageContent {
  width: 30%;
  height: 90%;
  display: flex;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  border-radius: 2vw;
}
.WorkerOrdersPageContent ul {
  width: 100%;
  height: 80%;

  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.WorkerOrdersPageContent ul li {
  gap: 1px;
  height: auto;
  cursor: pointer;
  width: 90%;
  border-top-right-radius: 4vw;
  border-bottom-right-radius: 4vw;
  border-bottom-left-radius: 1vw;
  border-top-left-radius: 1vw;
  box-shadow: 3px 3px 8px rgb(156, 160, 183);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 15px;
  transition: all 0.3s ease-in-out;
}
.WorkerOrdersPageContent ul li:hover {
  background-color: rgb(219, 217, 217);
}
.back {
  position: relative;
  top: -48%;
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 2vw;
  border: none;
  background-color: rgb(100, 149, 237);
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.back:hover {
  background-color: rgb(65, 105, 225);
}
