.WorkersListPage {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  overflow: hidden;
  flex-direction: column;
}

.WorkersListPage ul {
  position: absolute;
  left: 0%;
  top: 25%;
  align-items: center;
  width: 100%;
  padding: 5px;

  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.WorkersListPage ul li {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: auto;
  width: 90%;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 5px rgb(156, 160, 183);
  border-radius: 1vw;
}
.WorkersListPage ul li:hover {
  background-color: rgb(220, 224, 250);
}
.WorkersListPage ul li:hover button {
  display: block;
}
.WorkersListPage ul li .buttons {
  display: flex;
  flex-wrap: wrap;
}
.WorkersListPage ul li button {
  cursor: pointer;
  padding: 5px;
  width: 100px;
  border: none;
  border-radius: 1vw;
  margin-left: 5px;
  color: white;
  transition: all 0.2s ease-in-out;
}
.WorkersListPage ul li div {
  display: flex;
}
.deleteWorker {
  background-color: rgb(255, 99, 99);
}
.deleteWorker:hover {
  background-color: rgb(255, 70, 70);
  transform: translate(-3%, 0%);
}
.workerImg {
  width: 40px;
  height: auto;
}
.contactWorker {
  background-color: rgb(100, 100, 255);
}
.contactWorker:hover {
  background-color: rgb(32, 32, 255);
  transform: translate(-3%, 0%);
}

.workerInfoGroup {
  display: flex;
  width: 50%;
  gap: 15px;

  flex-wrap: wrap;
  align-items: center;
  flex: 1;
}
.workerInfoGroup p {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
}
.workerInfoGroup a {
  flex: 1;
  color: black;
  margin-top: 30px;
}
.addWorkerBtn {
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 1vw;
  position: absolute;
  top: 15%;
  right: 5%;
  background-color: rgb(129, 129, 251);
}
.WorkerSearch {
  outline: none;
  position: absolute;
  top: 20%;
  right: 5%;
  width: 90%;
  height: auto;
  border-radius: 2vw;
  border: 1px solid gray;
  padding: 10px;
}
.WorkerSearch::placeholder {
  text-align: left;
  font-size: 20px;
}
.WorkersGreatingText {
  font-size: clamp(16px, 5vw, 35px);
  position: absolute;
  top: 5%;
  left: 5%;
}
@media (max-width: 768px) {
  .addWorkerBtn {
    position: absolute;
    top: 50px;
  }
  .WorkerSearch {
    top: 4px;
    width: 90%;
  }
  .WorkersListPage .WorkersGreatingText {
    display: none;
  }
  .WorkersListPage ul li button {
    display: block;
  }
  .WorkersListPage ul {
    top: 100px;
    height: 80%;
  }
  .WorkersListPage ul li {
    height: auto;
    width: 100%;
    display: flex;

    align-items: center;
  }

  .workerInfoGroup {
    min-width: 200px;
  }
  .buttons {
    flex-direction: column;
    gap: 5px;
  }
}
@media (hover: none) {
  .WorkersListPage ul li button {
    display: block;
  }
}
