.workerOrdersPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 5px;
}
.workerOrdersPage > :first-child {
  width: 30%;
}
.orderColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3fa;
  width: 65%;
  border-radius: 2vw;
  height: 98%;
  padding-top: 15px;
}

.orderColumn h4 {
  position: relative;
  top: 5px;
  font-size: 18px;
  background-color: #e3e4f6;
  padding: 5px;
  border-radius: 1vw;
  color: rgb(39, 37, 37);
}
.orderColumn ul {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}
.orderColumn ul li {
  width: 90%;
  gap: 5px;
  height: auto;
  background-color: white;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 22px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.orderColumn ul li > :first-child {
  width: 90%;
  font-size: clamp(14px, 1.2vw, 18px);
  padding-top: 3px;
  font-weight: 700;
  color: rgb(43, 43, 43);
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.orderColumn ul li > :last-child {
  width: 100%;
  color: #9f7f60;
  background-color: #f9eadb;
  border-radius: 2vw;
  padding-right: 10px;
  text-align: right;
  font-size: 14px;
}
.orderColumn ul li:hover {
  background-color: rgb(230, 233, 244);
  padding-left: 15px;
  padding-right: 15px;
}
.ordersGreatingText {
  color: rgb(58, 58, 58);
  font-size: 24px;
}
.workerOrderDetails {
  width: 98%;
  height: 96%;
  gap: 20px;

  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workerOrderDetails h3 {
  position: relative;
  top: 10px;
  color: rgb(0, 119, 255);
  font-size: 24px;
}
.workerOrderDetails .description {
  width: 80%;
  height: auto;
  max-height: 300px;
  background-color: white;
  border-radius: 1vw;
  padding: 10px;
}
.workerOrderDetails .description p {
  color: rgb(0, 119, 255);

  font-weight: 600;
}

.orderDates {
  text-align: center;
  display: flex;
  gap: 20px;
  font-weight: 600;
  width: 80%;
  height: auto;
  justify-content: center;
  color: rgb(58, 58, 58);
  align-items: center;
  background-color: white;
  border-radius: 2vw;
  box-shadow: 2px 2px 5px rgb(156, 160, 183);
  padding: 15px;
}
.workerOrderDetails .progresses {
  position: relative;
  display: flex;
  gap: 15px;
  width: 80%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workerOrderDetails .progresses .labels {
  display: flex;

  width: 100%;
  justify-content: space-around;
}
.workerOrderDetails .progresses .labels p {
  color: rgb(58, 58, 58);
  font-weight: 600;
}
.workerOrderDetails .progresses .charts {
  display: flex;
  height: auto;
  width: 100%;
}
.form {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(155, 201, 255);
  background-color: white;
  border-radius: 1vw;
  padding: 10px;
  width: 80%;
  height: auto;
  justify-content: center;
}
.inputFields {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.inputFields p {
  font-size: 15px;
  white-space: nowrap;
  color: rgb(0, 119, 255);
  padding-left: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: left;
}
.inputFields input {
  width: 60%;
  color: rgb(0, 119, 255);
  font-weight: 600;
  outline: none;
  padding: 10px;
  border: 1px solid rgb(155, 201, 255);
  border-radius: 1vw;
}

.form button {
  background-color: rgb(89, 108, 253);
  border: none;
  padding: 10px;
  color: white;
  font-weight: 600;
  border-radius: 1vw;
  transition: all 0.2s ease;
  cursor: pointer;
}
.form button:hover {
  background-color: rgb(126, 141, 253);
  color: black;
}
.backBtn {
  display: none;
}
.noOrderSelected {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 50%;
  width: 100%;
}
.noOrderSelected img {
  width: 200px;
  height: auto;
}
@media (max-width: 768px) {
  .workerOrdersPage {
    align-items: stretch;
    display: flex;
    justify-content: center;
    background-color: red;
    height: 100vh;
  }
  .orderColumn.hidden {
    display: none;
  }
  .workerOrderDetails {
    height: 100%;
    width: 100%;
    border: unset;
    box-shadow: unset;
  }
  .workerOrdersPage > :first-child {
    width: unset;
  }
  .orderColumn {
    padding: 0;
    margin: 0;
    min-width: 100%;
    width: auto;
    height: 100%;
    overflow-y: auto;
  }

  .orderColumn h1 {
    font-size: 18px;
  }
  .orderColumn h4 {
    font-size: 13px;
    text-align: center;
  }
  .backBtn {
    display: block;
    border-radius: 1vw;
    border: none;

    color: white;
    cursor: pointer;
    font-weight: 800;
    padding: 5px;

    background-color: rgb(69, 69, 240);
    transition: all 0.2s ease;
  }
  .backBtn:hover {
    background-color: rgb(29, 29, 247);
  }
}
