.chatWindow {
  display: flex;
  flex-direction: column;

  border-radius: 2vw;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.chatHeader {
  display: flex;
  align-items: center;
  gap: 15px;
}
.chatHeader button {
  display: none;
  width: auto;
  border: none;
  font-size: 25px;
  background-color: transparent;
  border-radius: 1vw;
  padding: 5px;
}
.chatHeader button:hover {
  background-color: grey;
}
.chatHeader {
  padding: 10px;
  background-color: rgb(249, 248, 248);
  color: black;
  text-transform: capitalize;
  border-top-right-radius: 2vw;
  border-top-left-radius: 1vw;
}

.chatMessages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #eef3f8;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message {
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 10px;
  background: white;
  color: black;
  word-break: break-all;
}
.messageTime {
  color: gray;
  font-size: 11px;
}
.myMessage {
  align-self: flex-end;
  background: #abcff2;
  color: rgb(18, 17, 17);
}

.chatInput {
  border-bottom-left-radius: 1vw;
  display: flex;
  gap: 5px;
  padding: 10px;
  background-color: rgb(249, 248, 248);
  border-bottom-right-radius: 2vw;
}

.chatInput input {
  padding: 8px;
  outline: none;
  border: none;
  width: 90%;
  border-radius: 1vw;
  background-color: rgb(233, 233, 233);
}
.chatInput input::placeholder {
  font-weight: 600;
}
.chatInput button {
  border-radius: 1vw;
  border: none;
  width: 8%;
  color: white;
  cursor: pointer;
  font-weight: 800;
  padding: 5px;
  min-width: 50px;
  background-color: rgb(69, 69, 240);
  transition: all 0.2s ease;
}
.chatInput button:hover {
  background-color: rgb(37, 37, 236);
}
